img {
    width: 35px;
    height: 35px;
}

.social-image {
    width: 50px;
    height: 50px;
}

.profile-image {
    border-radius: 1rem;
}

header .bell-icn {
    width: 20px;
    /* margin-right: 30px;
    margin-top: auto; */
    fill: white;
  }

/* GRID Layout */

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "nav"
      "main";
}

header {
    grid-area: header;
    padding-bottom: 50px;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

/* Header Layout */

header {
    display: flex;
    flex-wrap: nowrap;
    background-color: #7377bf;
    height: 100px;
}

h1 {
    color: white;
    font-size: 25px;
}

    /* display: inline-block;
    float: right; */
    /* padding-top: 15px; */

/* NAV Layout */

nav {
    padding-top: 50px;
    background-color: #4d4c72;
}

nav a {
    padding-left: 15%;
}

nav img {
    margin-bottom: 35px;
}

/* Media Queries for larger screens */

/* @media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas:
        "header header"
        "nav main";
    }

    .main {
        display: grid;
        grid-template-columns: 50%;
    }

    .traffic, .social {
        grid-column: 1 / span 2;
    }

    .daily, .members, .message{
        grid-column: 1 / span 1;
    }

    .mobile, .activity, .settings {
        grid-column: 2 / span 1;
    }

    nav {
        padding-top: 25px;
    }
    nav a {
        padding: 0;
        padding-left: 5px;
    }

    nav img {
    padding-left: 5px;
    }
}

@media (min-width: 1024px) {
    .widget-container-full, .widget-container-half {
        width: 95vw;
    }
} */